# AWS IoT Core
AWS_IOT_ENDPOINT=xxxxxxxx-ats.iot.ap-south-1.amazonaws.com
AWS_IOT_PORT=8883
AWS_IOT_CLIENT_ID=smartflow-server-v1
AWS_IOT_CA_PATH=./certs/AmazonRootCA1.pem
AWS_IOT_CERT_PATH=./certs/server.cert.pem
AWS_IOT_KEY_PATH=./certs/server.private.key

# Dispense
DEVICE_ID=DEV-001
ACK_TIMEOUT_SECONDS=5
MAX_LITRES=100

# HTTP
CORS_ORIGINS=http://localhost:5173
LOG_LEVEL=INFO
